<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
      <!--<div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">
  
      </div>-->
      <div class="page-header-image" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">
  
      </div>
      <div class="container homebanner">
          <div class="content-center brand">
              <img class="n-logo" src="assets/img/now-logo.png" alt="">
              <h1 class="h1-seo">Economize até <b>95% na conta de energia</b> conheça!</h1>
              <h3>A partir de R$500,00 por mês</h3>
              <br><br>
              <button class="btn btn-primary btn-round btn-lg" type="button">
                  <i class="now-ui-icons ui-2_favourite-28"></i> Saiba Mais
              </button>
          </div>
      </div>
  
      <div class="homeabout">
          <div class="row">
              <div class="col-md-6">
                  <h1>Produza Sua Própria Energia</h1>
                  <p>São diversas soluções empresariais para produzir e consumir sua própria energia, através da <b>N-Tecnolgia Solar, economizando até 95% nas futuras contas.</b> Os paineis captam a luz do sol, e os geradores convertem para serem utilizadas na sua empresa. Se produzir mais energia do que consumir, o excesso é repassado à rede elétrica em troca de créditos!</p>
                  <br>
                  <button class="btn btn-primary btn-round btn-lg" type="button">
                      <i class="now-ui-icons ui-2_favourite-28"></i> Simular Grátis
                  </button>
              </div>
              <div class="col-md-6">
                  <div class="formhome">
                      <h3>Simule agora</h3>
                      <input type="text" value="" placeholder="Consumo mensal" class="form-control" />
                      <input type="text" value="" placeholder="Cidade" class="form-control" />
                      <input type="text" value="" placeholder="Seu nome" class="form-control" />
                      <input type="text" value="" placeholder="WhatsApp" class="form-control" />
                      <input type="text" value="" placeholder="Email" class="form-control" />
                      <button class="btn btn-primary btn-round btn-lg" type="button">Enviar Simulação</button>
                  </div>
              </div>
          </div>
      </div>
  
      <div class="hometips">
          <div class="row">
              <div class="col-md-12">
                  <h1>Vantagens da N-Tecnologia Solar</h1>
              </div>
              <div class="col-md-3">
                  <img src="" />
                  <p>AUTONOMIA</p>
                  <span>Controle sobre eventuais <b>taxas e alterações</b> no preços da energia</span>
              </div>
              <div class="col-md-3">
                  <img src="" />
                  <p>ECONOMIA</p>
                  <span><b>Redução de até 95%</b> na conta de energia elétrica da sua empresa</span>
              </div><div class="col-md-3">
                  <img src="" />
                  <p>CUSTIMIZE</p>
                  <span>Adapte a produção de energia solar de acordo com a <b>necessidade</b></span>
              </div><div class="col-md-3">
                  <img src="" />
                  <p>GARANTIA</p>
                  <span>Estabilidade e controle do <b>sistema de geração</b> de energia solar</span>
              </div>
          </div>
      </div>
  
      <div class="homedaynight">
          <div class="row">
              <div class="col-md-12"><h1>Como Funciona o Gerenciamento</h1></div>
          </div>
          <div class="row">
              <div class="col-md-6 homeday">
                  <p><b>Durante o dia</b><br><br>A energia gerada é maior do que a consumida, o excedente é enviado à rede elétrica</p>
                  <img src="assets/img/ntec-dia.jpg" />
              </div>
              <div class="col-md-6 homenight">
                  <p><b>Durante a noite</b><br><br>A energia consumida agora passa a vir da rede elétrica, ou geradores se possuir</p>
                  <img src="assets/img/ntec-noite.jpg" />
              </div>
          </div>
      </div>
  
      <div class="homenews">
          <div class="row">
              <div class="col-md-6">
                  <p>Energia Excedente</p>
                  <span>Toda energia excedente é enviada à rede elétrica e revertida em créditos na conta mensal da sua empresa.</span>
              </div>
              <div class="col-md-6">  
                  <p>Abatimento dos créditos</p>
                  <span>Além de economizar 100% durante o dia, consuma o excente gerado durante à noite e pague somente o restante.</span>
              </div>
              <div class="col-md-12">
                  <br><br><span>Não se preocupe com o cálculo e instalaão dos paineis, todo projeto e a aplicação é feita pela N-Tecnologia Solar. Há anos transformando o alto consumo de energia em economia, e principalmente, em sustentabilidade.</span>
              </div>
          </div>
      </div>
  
      <div class="homelead">
          <div class="row">
              <div class="col-md-12">
                  <div class="formhome">
                      <h3>Entenda seus gastos, calcule seu consumo médio abaixo:</h3>
                      <input type="text" value="" placeholder="Consumo mensal" class="form-control" />
                      <input type="text" value="" placeholder="Cidade" class="form-control" />
                      <input type="text" value="" placeholder="Seu nome" class="form-control" />
                      <input type="text" value="" placeholder="WhatsApp" class="form-control" />
                      <input type="text" value="" placeholder="Email" class="form-control" />
                      <button class="btn btn-primary btn-round btn-lg" type="button">Enviar Simulação</button>
                  </div>
              </div>
          </div>
      </div>
      
        <div class="section section-download" id="#download-section" data-background-color="black">
            <div class="container">
                <div class="row justify-content-md-center sharing-area text-center">
                  <div class="text-center col-md-12 col-lg-8">
                    <h3>Thank you for supporting us!</h3>
                  </div>
                  <div class="text-center col-md-12 col-lg-8">
                    <a target="_blank" href="https://www.twitter.com/creativetim" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                      <i class="fab fa-facebook-square"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/company-beta/9430489/" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
                      <i class="fab fa-linkedin"></i>
                    </a>
                    <a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit-angular" class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip" title="Star on Github">
                      <i class="fab fa-github"></i>
                    </a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
              {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
  </div>
  